<h2><%=@user.name%>'s Todo List</h2>
<p>
  <a href="/">back</a>
</p>

<% @all_items.order(:due).each do |item| %>

<ul>
	<li>
	<%=item.description%> - <%=item.due%>
	<form action ='/delete_item/<%=item.id%>' method='get'>
      	<input type='submit' value='Delete'>
      	</form>
	</li>
</ul>

 
<%end%>
<form action ='/<%=@user.id%>/new_item' method='post'>
  <strong>New Task</strong>
  <input type='text' name ='task' placeholder= 'task content'/>
  <input type='text' name='date' placeholder ='due date'/>
  <input type = 'submit' value='Save'>
  
</form>

